## MINIST Dataset using LeNet-5 Architecture

#### Dataset Preparation

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os 
import sys

In [2]:
data=pd.read_csv('train.csv')
data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
data.shape

(42000, 785)

In [4]:
datac=data

In [5]:
label=data['label']

In [6]:
datac.drop('label',axis=1,inplace=True)

In [7]:
datac.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
a=os.getcwd()
os.mkdir('Dataset')
os.chdir(a+'\\'+'Dataset')
os.mkdir('Train')
os.mkdir('Test')
os.chdir('Train')
for i in range(0,10):
    os.mkdir(str(i))
os.chdir(str(a)+'\\'+'Dataset')
os.chdir('Test')
for i in range(0,10):
    os.mkdir(str(i))

In [9]:
datac.shape

(42000, 784)

In [11]:
datac=datac.values

In [12]:
(42000/100)*20

8400.0

In [13]:
(42000/100)*80

33600.0

In [14]:
os.chdir(a)
os.chdir('Dataset\Train')
for c,i in enumerate(label):
    os.chdir(str(i))
    img=datac[c].reshape(28,28)
    plt.imsave(str(c)+'.jpg',img)
    if(c<33600):
        os.chdir('C:\\Users\\619pa\\Desktop\\number prediction\\Dataset\\Train')
    else:
        os.chdir('C:\\Users\\619pa\\Desktop\\number prediction\\Dataset\\Test')

#### Applying LeNet-5

In [15]:
from keras.models import Sequential

Using TensorFlow backend.

In [16]:
from keras.layers import Dense,Conv2D,Flatten,AveragePooling2D

In [17]:
model=Sequential()

In [18]:
model.add(Conv2D(filters=6,kernel_size=5,input_shape=(28,28,1),padding='same',activation='tanh'))

In [19]:
model.add(AveragePooling2D(pool_size=(2,2)))

In [20]:
model.add(Conv2D(filters=16,kernel_size=5,activation='tanh'))

In [21]:
model.add(AveragePooling2D(pool_size=(2,2)))

In [22]:
model.add(Flatten())

In [23]:
model.add(Dense(120,activation='tanh'))

In [24]:
model.add(Dense(84,activation='tanh'))

In [25]:
model.add(Dense(10,activation='softmax'))

In [26]:
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

In [27]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_1 (Conv2D)            (None, 28, 28, 6)         156
_________________________________________________________________
average_pooling2d_1 (Average (None, 14, 14, 6)         0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 10, 10, 16)        2416
_________________________________________________________________
average_pooling2d_2 (Average (None, 5, 5, 16)          0
_________________________________________________________________
flatten_1 (Flatten)          (None, 400)               0
_________________________________________________________________
dense_1 (Dense)              (None, 120)               48120
_________________________________________________________________
dense_2 (Dense)              (None, 84)                10164
_________________________________________________________________
dense_3 (Dense)              (None, 10)                850
=================================================================
Total params: 61,706
Trainable params: 61,706
Non-trainable params: 0
_________________________________________________________________

In [28]:
from keras.preprocessing.image import ImageDataGenerator   
train_datagen = ImageDataGenerator( 
        rescale=1./255, 
        shear_range=0.2,  
        zoom_range=0.2)

In [29]:
test_datagen = ImageDataGenerator(rescale=1./255)

In [30]:
x_train = train_datagen.flow_from_directory( 
        r'C:\Users\619pa\Desktop\number prediction\Dataset\Train',
        target_size=(28, 28), 
        batch_size=32,
        color_mode='grayscale',
        class_mode='categorical')

Found 33601 images belonging to 10 classes.

In [31]:
x_test = test_datagen.flow_from_directory(
        r'C:\Users\619pa\Desktop\number prediction\Dataset\Test',
        target_size=(28, 28),
        batch_size=32,
        color_mode='grayscale',
        class_mode='categorical')

Found 8399 images belonging to 10 classes.

In [32]:
x_train.class_indices

{'0': 0,
 '1': 1,
 '2': 2,
 '3': 3,
 '4': 4,
 '5': 5,
 '6': 6,
 '7': 7,
 '8': 8,
 '9': 9}

In [34]:
steps_per_epoch=33601//32

In [40]:
validation_steps=8399//32

In [41]:
model.fit_generator( 
        x_train, 
        steps_per_epoch=steps_per_epoch,
        epochs=5,
        validation_data=x_test,
        validation_steps=validation_steps)

Epoch 1/5
1050/1050 [==============================] - 851s 811ms/step - loss: 0.3910 - acc: 0.8844 - val_loss: 0.1670 - val_acc: 0.9495
Epoch 2/5
1050/1050 [==============================] - 165s 157ms/step - loss: 0.1658 - acc: 0.9490 - val_loss: 0.1036 - val_acc: 0.9680
Epoch 3/5
1050/1050 [==============================] - 62s 59ms/step - loss: 0.1160 - acc: 0.9651 - val_loss: 0.0943 - val_acc: 0.9676
Epoch 4/5
1050/1050 [==============================] - 63s 60ms/step - loss: 0.0925 - acc: 0.9709 - val_loss: 0.0979 - val_acc: 0.9683
Epoch 5/5
1050/1050 [==============================] - 67s 64ms/step - loss: 0.0800 - acc: 0.9751 - val_loss: 0.0673 - val_acc: 0.9788

In [48]:
os.chdir(a)
model.save('LeNet_for_MINIST.h5')

In [6]:
from keras.models import load_model

In [7]:

model = load_model('LeNet_for_MINIST.h5')

In [8]:
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

In [9]:
test=pd.read_csv('test.csv')
test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
submission=pd.read_csv('sample_submission.csv')
submission.head()

   ImageId  Label
0        1      0
1        2      0
2        3      0
3        4      0
4        5      0

In [11]:
test_a=test.values

In [12]:
for c,img in enumerate(test_a):
    image=img.reshape((28,28))
    image=np.array([img])
    image=np.expand_dims(image, axis = 0)
    img=img.reshape((1,28,28,1))
    res=model.predict_classes(img)
    submission['Label'][c]=res[0]

In [13]:
submission.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [14]:
submission.to_csv('submission.csv',index=False)